# --- Compilação e Binários ---
bin/
out/
*.class
*.jar

# --- Ficheiros de IDEs (Eclipse, IntelliJ, VS Code) ---
.idea/
.settings/
.project
.classpath
*.iml
.DS_Store
.vscode/

# --- Ficheiros de Estado do Jogo (Opcional) ---
top10_scores.txt